html {
    height: 100%;
}

body {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 24px;
    height: 100%;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    background: #F8F4EA;
}

.header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 0;
    background: #579BB1;
    padding: 0px 16px;
}

.header h1 {
    font-size: 24px;
    color: #f7f5f0;
}

.right {
    display: flex;
    align-items: center;
    gap: 16px;
}

button {
    padding: 8px;
    background: #f7f5f0;
    border: 1px solid #579BB1;
    border-radius: 6px;
    color: #0A2647;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-bottom: auto;
}

.content h2 {
    color: #0A2647;
}

.grid {
    display: grid;
    gap: 1px;
    background: rgb(255, 255, 255);
    padding: 8px;
    border: 2px solid black;
    border-radius: 4px;
    box-shadow: 5px 5px 10px gray;
}

.cell {
    border-radius: 4px;
    background: rgb(255, 255, 255);
}

.footer {
    display: flex;
    justify-content: center;
    padding: 8px;
    color: #f7f5f0;
    background: #579BB1;
}